.center-text
{
    text-align: center;
}
.bold-text
{
    font-weight: bold;
}
.home-image
{
    height: 50vh;
}
.nav-badge
{
    height: 5vh;
}
.white_bkg
{
    background-color:white;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
    padding: 2%;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
  }

.vertical-center
{
    padding:0.4%;
    margin-top: 5px;
   
}
.text-right
{
    text-align:right;
}
.text-left
{
    text-align:left;
}
.details
{
    border-color: rgb(29, 29, 29);
    border-radius: 5px;
    border-width: 1px;
    height:100%;
}
.text-badge
{
    border-width: 1px;
    border:solid;
    border-radius: 5px;
    height: 60px;
    margin-bottom: 10px;
    border-color: rgb(241, 100, 100);
    color:  black;
    background-color: rgb(248, 105, 117);
}
.v-center
{
padding: 4%
}
.select2-container--open{
    z-index:99999;
    }

 .font-small{
     font-size: 0.8em;
 }

#wait{
    display:none;
    width:93%;
    height:49%;
    position:absolute;
    text-align:center;
    margin-top: 5%;
    margin-left: 1%;
    background-color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding-top:10%;
} 
.loading_badge{
    height: 20%;
}
@media only screen and (max-width: 600px) {
    #wait{
        display:none;
        width:85%;
        height:90%;
        border:1px solid black;
        position:absolute;
        text-align:center;
        margin-top: 10%;
        margin-left: 3%;
        font-weight: bold;
        background-color: white;
    } 
    .loading_badge{
        height: 20%;
    }
  }

  